.product-cards {
  box-sizing: border-box;
}

.product-card {
  display: inline-block;
  flex-wrap: wrap;
  box-shadow: 0 0 10px black;
  margin: 10px 10px;
  width: 30%;
  height: 450px;
  align-items: center;
  justify-content: center;
}
.counter-countainer {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 7fr 3fr;
}

.wrap-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20rem;
  padding: 0 1rem;
  flex-direction: column;
}

.cartCard {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

.card-image2 {
  max-height: 10rem;
  max-width: 10rem;
  object-fit: contain;
}

.summary-container {
  position: sticky;
  top: 2rem;
  margin: 1rem;
}

.counter-section {
  display: flex;
}

.remove-btn-cart {
  background: none;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  border: none;
  cursor: pointer;
  outline: none;
}

.counter-btn {
  background-color: wheat;
  cursor: pointer;
  height: 2rem;
  width: 3rem;
  margin: 1rem;
  border: none;
}

.minus-symb,
.add-symb {
  font-size: large;
  color: white;
}

.items-quantity {
  padding: 10px;
}

.link-highlight {
  color: red;
  text-decoration-line: underline;
}

.card {
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  margin: 1rem;
  word-wrap: break-word;
  box-shadow: 0 6px 1.25rem 0 gray;
}

.card-container {
  display: flex;
  overflow-y: auto;
}

.card-title {
  margin-top: 0.75rem;
  margin-bottom: 5px;
  padding: 5px 0px 3px 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
}

.fs-2 {
  font-size: 1.2rem;
}

.pb-1 {
  padding-bottom: 0.5rem;
}

.pl-2 {
  padding-left: 1rem;
}

.Psummary-txt {
  font-size: larger;
  color: brown;
}
