.App {
  text-align: center;
}

nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 5px 10px;
  align-items: center;
  width: 100%;
}

nav h3 {
  color: orangered;
}
